<fieldset>

    <!-- TITLE -->
    <div class="form-group">
        <label for="org-title">Name of the Charity Organization</label><br>
        <input class="form-control" id="org-title" type="text" name="organizationName" value="{{charity.organizationName}}" />
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
        <label for="description-text">Description</label><br>
        <textarea class="form-control" id="description-text" name="description" rows="10" />{{charity.description}}</textarea>
    </div>

    <!-- DONATION -->
    <div class="form-group">
        <label for="donation-need"> Amount of Donation </label><br>
        <input class="form-control" id="donation-need" type="text" name="donationAmount" value="{{charity.donationAmount}}" />
    </div>

    {{!-- UPLOAD PICTURE --}}
    <div class="form-group">
        
        <label for="Avatar"> Upload Image </label> <br>
        <input class="form-control" type="file" name="avatar" id="new-org">
        
    </div>
        

</fieldset>