<!-- views/charities-new.handlebars -->

<form method="POST" action="/charities">
    {{> charities-form }}
    <!-- BUTTON -->
    <p>
        <button type="submit">Save Charity</button>
    </p>

</form>