<!-- views/charities-edit.handlebars -->
<form method="POST" action="/charities/{{charity._id}}?_method=PUT">
    {{> charities-form }}
    </fieldset>
    <!-- BUTTON -->
    <p>
        <button type="submit">Save Charity</button>
    </p>
</form>