<!-- views/charities-new.handlebars -->

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <legend>Input New Organization</legend>
        <form method="POST" action="/charities" id="new-org">
            {{> charities-form}}
            <!-- BUTTON -->
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Save Organization</button>
            </div>
        </form>
    </div>
</div>