{{!-- charities-index.handlebars --}}
<h1>Organizations</h1>
<div class="row">
    {{#each charity}}
    <div class="col-sm-3">
        <h2><a href="/charities/{{this._id}}">{{this.organizationName}}</a></h2>
        <small>Description: {{this.description}}</small> <br>
        <small>Amount of Donation: {{this.donationAmount}}</small>
    </div>
    {{/each}}
</div>