<!-- views/charities-edit.handlebars -->
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="/charities/{{charity._id}}?_method=PUT">
            <legend>Edit Organization Info</legend>
            {{> charities-form}}
            <!-- BUTTON -->
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Save Organization</button>
            </div>
        </form>
    </div>
</div>